<h1>User Index Page</h1>
<h2>You Really Shouldn't be Here! </h2>
<h3>Leave this Place</h3>
<p><%= link_to "Leave", root_path %></p>


<% @users.each do |u| %>
  <p><%= link_to u.username, user_path(u) %></p>
<% end %>

<img src="http://i65.tinypic.com/6ym5qw.jpg" border="0" alt="LoL">
<img src="http://i64.tinypic.com/20p1zkg.jpg" border="0" alt="SC">
