<h1>User Index Page</h1>
<h2>You Really Shouldn't be Here</h2>
<h3>Leave this Place</h3>
<p><%= link_to "Leave", root_path %></p>


<% @users.each do |u| %>
  <p><%= link_to u.username, user_path(u) %></p>
<% end %>
