<h1> <%= @user.username %> </h1>
<ul>
  <% @user.games.map do |game|  %>
  <li> <%= link_to game.name, game_path(game) %> </li>
  <% end %>
</ul>
<br><br>
<p> <%= link_to "Return to User List", users_path %> </p>
