<h1 class="text-center display-4">Team Orange Juice</h1>
  <h5 class="text-center">Team Orange Juice aka Team OJ</h5>
  <br>
  <p>
    Founders Oliver and John set up the company in 2018, using their distinct expertise in both the front and back ends to create this website with no use of templates, thus labelling their site, hand-squeezed.</p>
  <p>
    The pair had a rather spendid time developing the site, gaining a deep understanding of rails and css capabilities, with a focus on best practices and authentication.</p>
  <p>
    The site will eventually be handed over to the staff at flatiron to continue to run games events and other activities in the future.
  </p>
