<% if @game.id == 1 %>
  <br>
  <img class="show-page-logo center-block" src="/images/games/LoL-logo.png" width="580" height="200" alt="LoL logo">
  <br><br>
  <h5>
    League of Legends is a class-based multiplayer online battle arena (MOBA) game.</h5>
  <p>
    In all game modes, players control characters called champions, chosen or assigned every match, who each have a set of unique abilities. Champions begin every match at a low level, and then gain experience over the course of the match to achieve a maximum level of 18.</p>
  <p>
    Gaining champion levels in matches allows players to unlock their champion's special abilities and augment them in a number of ways unique to each character. If a champion loses all their health, they are defeated, but are automatically revived in their base after enough time passes.</p>
<% elsif @game.id == 2 %>
  <br>
  <img class="show-page-logo center-block" src="/images/games/SC-logo.png" alt="SC logo">
  <h5>
    Starcraft is a highly-regarded real time strategy game (RTS) released by Blizzard in 1998.</h5>
  <p>
    The original game and its expansion have been praised as one of the benchmark real-time strategy games of its time. The series has gathered a solid following around the world, particularly in South Korea, where professional players and teams participate in matches, earn sponsorships, and compete in televised matches.</p>
  <p>
    On March 27, 2017, Blizzard announced StarCraft: Remastered, a remastered version of the original StarCraft, with the core updates being up-to-date graphics, and revised dialogue and audio.</p>
  <p>
    As of April 19, 2017, <strong>StarCraft and its Brood War expansion are free to download and play from Blizzard's <a href="https://us.shop.battle.net/en-us/product/starcraft" >website</a>.</strong>
  </p>
<% elsif @game.id == 3 %>
  <br>
  <img class="show-page-logo center-block" src="/images/games/SC-logo.png" alt="SC logo">
  <h5>
    Cambio is card game that is played with 2 or more players.</h5>
  <p>
    You start by dealing four cards to each player face down in a 2×2 pattern and leaving the deck in the middle. The goal is to have the least amount of points by the end of the game. You may only play the game with one hand. Each player is given one chance to check out the 2 cards closest to them and memorize them. After that you may not peek again unless you pull a 7 or 8.</p>
  <p>
    The game starts by the first player to the right of the dealer picking a card from the deck. You may swap the card you pull with one of your own. This would be in order to reduce the amount of points you have.
</p>
<% end %>
<br>
<% if logged_in? %>
  <h5>Players Interested In <%= @game.name %>: </h5>
  <ul>
    <% @game.users.each do |user| %>
    <li><%= link_to user.full_name, user_path(user) %></li>
    <% end %>
  </ul>
<% else %>
<p> To see the players who are currently interested in this game, please
  <%= link_to "Login",login_path %> or
  <%= link_to "Sign Up", new_user_path %>
</p>
<% end %>
