/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Cinzel');


@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC|Tangerine');

@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

body {
  padding-bottom: 6em;
}

.playfair-font {
  font-family: 'Playfair Display SC', serif;
}

a.btn.btn-lg.btn-primary, input.btn.btn-lg.btn-primary.btn-block {
  background-color: darkorange;
  border: none;
}

a {
  color: darkorange;
}

 #log-sign-forms {
   padding-top: 5em;
   width: 20em;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

footer.blockquote-footer {
  color: white;
}

.jumbotron.jumbotron-fluid.home-signup {
  border-radius: 25px;
}

.fa-heart {
  color: red;
}

// img.show-page-logo {
//   width: 640px;
//   height: 240px;
// }

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 a.dropdown-toggle {
    color: #4d4f52;
}


.carousel-item {
  height: 80vh;
  min-height: 300px;
  width: 100%;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.lol-image-overlay {
  height: 36%;
  width: 36%;
}

.sc-image-overlay {
  height: 60%;
  width: 60%;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
}

// ========================= bcrpt errors & notices


.text-center.errors-notices {
    font-size: 1.4em;
    // font-family: 'Playfair Display SC', serif;
    // font-family: 'Josefin Slab', serif;
}

.flash-alert {
  background: #ee949e;
}

.flash-notice {
  background: #81d281;
}

//========================== HOME - Carousel Area

img.sc-image-overlay:hover, img.lol-image-overlay:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}

//========================== HOME - Upcoming Area

.coming-up-area {
  // background: #d1d1d1;
  // padding: 1em;
  // border-radius: 10px;
}

.home-blockquote {
  margin: 1em;
  font-size: 0.4em;
  padding-top: 15em;
}

h1.display-4.coming-up-title {
  // color: #d0d0d0;
  font-size: 3em;
  padding-left: 0.3em;
  background: white;
  border-radius: 20px;
  font-family: 'Playfair Display SC', serif;
  // font-family: 'Josefin Slab', serif;
}

h4.card-header {
  font-family: 'Cinzel', serif;
}

// =========================== HOME - Interview Section

.home-interview-section {
  margin-top: 0.3em;
}


img.img-fluid.rounded {
  border-left: #d1d1d1 solid 10px;
}

h2.interview-title {
  font-family: 'Tangerine', cursive;
  font-size: 3em;
}

h5.display.text-right.interview-name {
  font-size: 2em;
  // font-family: 'Playfair Display SC', serif;
  font-family: 'Josefin Slab', serif;
}

.row.interview-section {
  margin-top: 2em;
}

h2.interview.title {
  font-size: 11em;
  // font-family: 'Playfair Display SC', serif;
font-family: 'Josefin Slab', serif;
}


// =================== HOME - 3 column

.row.home-3-column-row {
  padding-top: 2em;
  // background: #d3d3d3;
}


// ================== Footer

img.footer-logo {
  width: 50px;
  height: 50px;
}

.footer-brand {
  color: rgb(255,140,0);
  font-size: 1.3em;
  max-height: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer-squezeed {
  color: white;
}

.footer-bar {
  background: #d1d1d1;
  padding: 0.5em 1.5em 0.01em 1.5em;
}



//================== ABOUT

img.about-oj-logo {

}

h1.text-center.display-4.about {
    color: darkorange;
}


//==================Tournament Show

.jumbotron.tournament-show {
font-family: 'Josefin Slab', serif;
}
