/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";

body {
  padding-bottom: 4em;
}

 #log-sign-forms {
   padding-top: 5em;
   width: 20em;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 .footer-brand {
   color: rgb(255,140,0);
   font-size: 1.3em;
   max-height: 3em;
   padding-top: 1em;
   padding-bottom: 1em;
 }

 .footer-squezeed {
   color: white;
 }

 .footer-bar {
   background: #d6d6d6;
   padding: 0.1em 1.5em 0.01em 1.5em;
 }

.fa-heart {
  color: red;
}

// img.show-page-logo {
//   width: 640px;
//   height: 240px;
// }

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 a.dropdown-toggle {
    color: #4d4f52;
}


.carousel-item {
  height: 80vh;
  min-height: 300px;
  width: 100%;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.lol-image-overlay {
  height: 15%;
  width: 15%;
}

.sc-image-overlay {
  height: 60%;
  width: 60%;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
}

// ============== Interview Section ===============

.row.interview-section {
  margin-top: 2em;
}

h2.display-4.interview-title {
  font-size: 2em;
}
